
@{
    ViewData["Title"] = "Hill";
}

<h2 class="text-center">Hill cipher</h2>
<div class="row text-center">
    Supported characters: <span id="supportedCharacters"></span>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <h4 class="text-center">Encoding plaintext</h4>
        <input type="file" id="fileToEncode" />
        <br />
        <input type="button" value="Encode" onclick="encode()" />
    </div>
    <div class="col-md-4">
        <input type="button" onclick="generateKey()" class="col-md-offset-3 col-md-6" value="Generate key" />
        <div class="col-md-offset-3 col-md-6 noPadding">
            <h4 class="pull-left">Block size:</h4>
            <input id="matrixBlockSizeInput" type="number" name="BlockSize" min="2" max="10" value="5" class="text-center pull-right" />
        </div>
        <br />
        <br />
        <textarea id="keycontents" class="col-md-12" rows="4" cols="30"></textarea>
    </div>
    <div class="col-md-4">
        <h4 class="text-center">Encrypted text</h4>
        <input type="file" id="fileToDecode" />
        <br />
        <input type="button" value="Decode" onclick="decode()" />
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-6">
        <div>Plaintext:</div>
        <textarea id="contentToEncode" class="filecontents"></textarea>
    </div>
    <div class="col-md-6">
        <div>Encoded text:</div>
        <textarea id="contentToDecode" class="filecontents"></textarea>
    </div>
</div>

@section Scripts {
    <script src="~/js/hillcipher.js" asp-append-version="true"></script>
}